.formContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Light background color */
}

.sectionHeader {
  display: flex;
  align-items: center;
  background-color: #f9a825; /* Orange background color */
  padding: 10px;
  border-radius: 5px;
  color: #000;
  font-weight: 700;
  margin-bottom: 20px;
}

.searchLayout {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.required {
  color: #e25050;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33.333% - 20px); /* 33.33% width minus gap for three-column layout */
}

label {
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  background-color: #f5f5f5; /* Light gray background */
}

input:focus,
select:focus {
  border-color: #000;
}

.errorInput {
  border-color: #e25050;
}

.errorText {
  color: #e25050;
  font-size: 12px;
  margin-top: 5px;
}

.submitButton {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Full width for better visibility */
}

.submitButton:hover {
  background-color: #0056b3;
}

.termsText {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.termsText a {
  color: #007bff;
  text-decoration: none;
}

.termsText a:hover {
  text-decoration: underline;
}

.addButton {
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.addButton:hover {
  background-color: #0056b3;
}

.answerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.questionInput {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 0px 0pc 8px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}

.answerRow {
  display: flex;
  align-items: center;
  gap: 10px;
}
.correctAnswerCheckbox {
  flex: 0.5;
  width: 28px;
  height: 28px !important;
}

.questionsList {
  margin-top: 40px;
}

.questionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #ddd;
}

.todoList {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todoList div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.question {
  margin: 20px 0px;
}

.filters {
  display: flex;
  align-items: self-start;
  gap: 20px;
  margin-top: 20px;
}
.filterGroup {
  margin-bottom: 1rem;
  width: 100%;
}

.filterGroup label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 500;
}

.action {
  display: flex;
  justify-content: space-evenly; /* Adjusts the spacing between buttons */
  align-items: center; /* Centers the buttons vertically */
  gap: 10px; /* Adds space between the buttons */
}

.questionsListContainer {
  padding: 1rem;
}

.questionsTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

.questionsTable th,
.questionsTable td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

.questionsTable th {
  background-color: #f4f4f4;
}

/* // */

.selectContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.selectedQuestions {
  margin: 20px 0px;
}

.selectedQuestions h4 {
  margin-bottom: 4px;
}

.selectedQuestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.selectedQuestions li {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.options {
  margin-top: 10px;
}

.options div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.options input[type="radio"] {
  margin-right: 10px;
}

.testTitle {
  margin-top: 20px;
}

.testTitle label {
  font-weight: bold;
}

.testTitle input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.selectedOptions {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
}

.selectedOptions div {
  display: grid;
  grid-template-columns: 5% 95%;
  grid-gap: 8px;
  align-items: center;
}

@media (max-width: 1200px) {
  .answerContainer {
    grid-template-columns: 1fr 1fr;
  }
  .correctAnswerCheckbox {
    flex: 0.1;
  }

  .answerInput {
    flex: 0.9;
  }
}

@media (max-width: 768px) {
  .answerContainer {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }

  .searchLayout {
    flex-direction: column;
  }

  .formGroup {
    flex: 1 1 100%; /* Full width for single-column layout */
  }
  .questionItem {
    flex-direction: column;
    align-items: self-start;
  }
  .actions {
    width: 100%;
  }
  .answerRow {
    margin: 0;
  }
  .filters {
    flex-direction: column;
    gap: 0;
  }
  .selectContainer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .selectedOptions {
    grid-template-columns: 1fr;
  }
  .selectedOptions div {
    grid-template-columns: 10% 90%;
  }
}
