.sectionHeader {
  display: flex;
  align-items: center;
  background-color: #f9a825; /* Orange background color */
  padding: 10px;
  border-radius: 5px;
  color: #000;
  font-weight: 700;
  margin: 20px 0;
}

/* .sectionHeader::before {
  content: "•";
  margin-right: 10px;
  font-size: 24px;
} */

.inputContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 52px;
}

.todoList {
  list-style-type: none;
  padding: 0;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .todoItem {
    flex-direction: column;
    gap: 10px;
    align-items: self-start;
    padding: 10px 0px;
  }
  .inputContainer {
    flex-direction: column;
  }
  .buttonContainer,
  .editButton {
    width: 100%;
  }
  .editButton {
    padding: 10px;
  }
}
